<!DOCTYPE html>
<html lang="en" ng-app="app">
    <head>
        <meta charset="UTF-8">
        <title>set</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../css/custom.css">
        <link rel="shortcut icon" type="image/png" href="resources/set.png">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
        <script src="js/main.js"></script>
    </head>
    <body ng-controller="ctrl">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-10">
                    <div class="row">
                        <div ng-click="select($index)" class="col-xs-4" ng-repeat="card in deck" >
                            <div  class="panel" ng-class="{'panel-primary': card.selected[id],'panel-default': !card.selected[id]}" style="cursor:pointer;height: 200px">
                                <div class="panel-heading">
                                    &#8204;
                                    <span ng-repeat="(playerId, val) in card.selected" ng-if="val" class="label label-{{labelColors[playerId % labelColors.length]}}">&#8204;</span>
                                </div>
                                <div class="panel-body">
                                    <ul class="list-group">
                                        <li class="list-group-item" ng-class="{'red':card.color == 0, 'green':card.color == 1, 'blue':card.color == 2, 'small':card.shape == 0, 'medium':card.shape == 1, 'large':card.shape == 2}" ng-repeat="i in getNumber(card.quantity + 1) track by $index"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Score card
                        </div>
                        <table class="table table-striped">
                            <tr>
                                <th>player</th>
                                <th>score</th>
                            </tr>
                            <tr ng-repeat="(playerId, player) in players" ng-class="{'info':id == playerId}">
                                <td><span class="label label-{{labelColors[playerId % labelColors.length]}}">&#8204;</span></td>
                                <td>{{player.score}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
